body{
  background-image:url("/media.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  background-position: center;
  background-size: cover;
}
.center{
  display:grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.auto{
  margin: auto;
  width: 100%;
  min-width:300px;
  height:100vh;
}
.react{
  width: 100% !important;
  height:100% !important;
}
.img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.white_bg{
  background-color: #fff;
  width: 200px;
  height: 400px;
  border-radius: 10px;

}

